venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
migrations/
server/blog_app/config.py
server/tests/test_db.py

client/blog/node_modules
client/blog/dist
client/blog/test
client/blog/build
client/blog/config
client/blog/src/assets
client/blog/postcssrc.js
client/blog/.postcssrc.js
client/blog/.eslintrc.js
client/blog/.babelrc
client/blog/.editorconfig
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*